<!DOCTYPE html>
<html>
    <head>
    <p> <b> <u> Engineering</u></b> </p>
        <!--specifies title of the page !-->
        <title>Experience</title>
    <p>Engineers Without Borders - USA</p>
    <p>Project Liason, Water Team Engineer</p>
    <img src="/static/ewb.jpg" width="100" 
    height="100"> 
    <p> <b> <u> Research </u></b> </p>
    <p>Summer Intern</p> 
    <img src="/static/stem.png" width="300" 
    height="100" > 
    <head>
    <body>
    </body>
    
    <p> <b> <u> Teaching </u></b> </p>
    <p>Summer Camp Instructor</p> 
    <img src="/static/sycamore.jpg" width="200" 
    height="100"> 
    <p> National Center for Women & Information Technology (NCWIT) Aspire IT
    Program leader</p>
    <img src="/static/ncwit.jpg" width="200" 
    height="100"> 
    
     <p> <b> <u> Outreach </u></b> </p>
    <p>One-to-One Tutor, voluenteer tutor for students in Morningside Heights</p> 
    <img src="/static/one-to-one.png" > 
    <p> Ode to Joy, Co-Founder of group bringing students to Joy's House Adult Day Care 
    to share music</p>
    <img src="/static/ode-to-joy.jpg" width="200" 
    height="140"> 
    
    
</html>

