<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Margherita Firenze</p>
    <img src="/static/mypicture.jpg" alt="Margherita Firenze" width="100" 
    height="100"> 
    <p> <b> <u> About Me </u></b> </p>
    <p>Electrical Engineering Major <p>
    <p>Columbia University, Fu Foundation School of Engineering 
    and Applied Science</p>
    <p>Class of 2023</p>
    <a href="/Projects">See my recent projects</a>
    </body>
</html>