<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title> Projects</title>
    <p> <b> <u> Current Projects </u></b> </p>
    <p> <b> Gradient Descent and Linear Classifier (Art of Engineering)</b> </p>
    <p> Project uses gradient descent to find minimum points of a function<p>
    <p> <b> Water distribution project (Engineers Without Borders)</b> </p>
    <p> Researched and designed tapstands for a rural village in Morocco </p>
    <p> <b> <u>Past Projects</u></b> </p>
     <p> <b> Study Party (CS Virtual Challenge)</b> </p>
    <p> Designed Study Party wireframe, a tool to help students connect while studying, 
    as part of the Virtual Campus Design Challenge</p>
    <a href="https://www.figma.com/proto/F0sTcSgxXezH8hSZeIINZj/Wireframing-in-Figma?node-id=0%3A817&scaling=contain"> 
    See the Website Design</a>
    <p></P>
    <img src="/static/studyparty.png" alt="Study Party" width="150" 
    height="100">
    <p> <b> Machine Learning project (ENG1006)</b> </p>
    <p>Built KNN classfyer and used scikit-learn KNN and SVM to classify benings 
    and maligant tumor dataset with up to 95% accuracy <p>
    <p> <b> Simulated Radio Receiver (Intro to Electrical Engineering)</b> </p>
    <p> Modeled tuning and demodulation of signals involved in transmission 
    using LT Spice. <p>
    <p> <b> Alumni Database (CS Seminar)</b> </p>
    <p> Created SQL database with drop-down query commands for searching. <p>
    <p> <b> <u> Research </u></b> </p>
    <head>
    <body>
    </body>
</html>

